<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TipshareHistoryRetreiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TipshareHistoryRetreiver.Properties.Settings>
            <setting name="TipshareHistoryRetreiver_ConcordEI_TipshareWS_TipshareWS"
                serializeAs="String">
                <value>http://tipsharews.concordei.com/tipsharews.asmx</value>
            </setting>
        </TipshareHistoryRetreiver.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="Stores" value="Stores.txt"/>
    <add key="LogLocation" value="errorlog.log"/>
  </appSettings>
</configuration>