<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Tipshare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
    <add key="dbAddy" value=".\sqlexpress"/>
    <!--<add key="dbAddy" value="192.168.101.5"/>-->
    <!--<add key="dbAddy" value="10.3.103.1"/>-->
    <add key="StartOfWeekDay" value="Saturday"/>
		<add key="setting" value="te4st"/>
		<add key="bar_percent" value="20"/>
		<add key="host_percent" value="80"/>
    <!--<add key="POSType" value="Aloha"/>-->
    <add key="POSType" value="AppleOne"/>
    <add key="lowerAmountAllowed" value="1"/>
    <add key="upperAmountAllowed" value="10"/>
    <!--<add key="AdditionalServerJobCodes" value=""/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="EnableBarHostSplit" value="false"/>
    <add key="EnableRestrictedSaves" value="false"/>

    <add key="ServerJobCodes" value="9,99"/>
    <add key="BarJobCodes" value="8,88"/>
    <add key="HostJobCodes" value="6,66"/>
    <add key="OtherJobCodes" value="5,55"/>
    
  </appSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<applicationSettings>
		<Tipshare.Properties.Settings>
			<setting name="Tipshare_TipshareWS_TipshareWS" serializeAs="String">
				<value>http://tipsharews.concordei.com/tipsharews.asmx</value>
			</setting>
		</Tipshare.Properties.Settings>
	</applicationSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
